/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self




    cascade: identical selectors will overwrite the ones above them. Lowest code wins
    The most specific selector that applies will be used. So if we have "p .class" and below 
        that ".class". Something of class "class" that is a child of a paragraph would get the 
        first declaration because it is more specific. IDS ARE THE MOST SPECIFIC OF ALL, but they will be overridden by inline styles
    
        . means this is a class
    # means this is an id
    , seperate two selectors with a single declaration
    SEL1 > SEL2 only applies to SEL2 that are children of SEL1. Won't apply to the children of SEL2!

    Pseudo class 
        ul li:nth-child(int) - This selector applies to the nth li of a ul
        a:hover - applies to a link when you hover over it

    Pseudo element
        ::before 

    can mix pseudo class and element!
    ul a:hover::before - applies to a link in an unstrictured list, when we hover over it, and it adds whatever we put

 */

.vinehallaWindow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.leftFrame {
    height: 100%;
    width: 70%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.topBar {
    height: 5%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(30, 146, 30);
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.searchArea {
    height: 100%;
    width: 100%;
}

.searchForm {
    height: 25%;
    min-height: 180px;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid black;
    padding-top: 5px;
}

.searchForm .searchDialogue {
    resize: none;
}

.searchResults {
    height: 65%;
    width: 99%;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.vineSearchResult {
    height: 200px;
    width: 90%;
    border: 2px solid black;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: 350px auto 350px;
    grid-template-areas: "t d i"
}

.vineSearchResult:hover {
    height: 200px;
    width: 90%;
    border: 2px solid black;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: 350px auto 350px 0px;
    grid-template-areas: "t d i b"
}

.searchResultImage {
    height: auto;
    width: 100%;
    grid-area: i;
    padding-top: 2px;
}

.searchResultDetails {
    height: 95%;
    width: 95%;
    min-width: 200px;
    border: 1px solid black;
    grid-area: t;
    padding: 4px;
}

.searchResultDialogue {
    height: 95%;
    width: 95%;
    min-width: 200px;
    border: 1px solid black;
    grid-area: d;
    padding: 4px;
}

.selectSearchResult {    
    display: none;
}

.vineSearchResult:hover > .selectSearchResult {
    height: 100%;
    width: 50px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    grid-area: b;
}

.rightFrame {
    height: 100%;
    width: 30%;
    z-index: 1;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgb(30, 146, 30);
    overflow-x: hidden;
    overflow-y: hidden;
    border-left: 2px solid black;
    padding-bottom:10px;
}

.removeAllButton {
    height: 5%;
    min-height: 35px;
    width: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(30, 146, 30);
    overflow-x: hidden;
    overflow-y: hidden;
}

.selectedVineList {
    height: 90%;
    width: 100%;
    top: 0px;
    right: 0px;
    background-color: rgb(30, 146, 30);
    overflow-x: hidden;
    overflow-y: auto;
}

.selectedVine {
    height: 300px;
    width: 80%;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 250px auto;
    grid-template-areas: "i"
                         "t"
}

.selectedVine:hover {
    height: 300px;
    width: 80%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 0px auto;
    grid-template-rows: 15px 250px auto 15px;
    grid-template-areas: "u u"
                         "x i"
                         "x t"
                         "d d"
}

.selectedVineTitle{
    height: 100%;
    width: 100%;
    grid-area: t
}

.selectedVineImage {
    height: auto;
    width: 100%;
    grid-area: i
}


.moveVineUpButton {    
    display: none;
}

.selectedVine:hover > .moveVineUpButton {
    height: 15px;
    width: 100%;
    background-color: white; 
    border: none;
    color: Green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    grid-area: u
}

.moveVineDownButton {    
    display: none;
}

.selectedVine:hover > .moveVineDownButton {
    height: 15px;
    width: 100%;
    background-color: white; 
    border: none;
    color: Green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    grid-area: d
}

.deleteVineButton {    
    display: none;
}

.selectedVine:hover > .deleteVineButton {
    height: 100%;
    width: 20px;
    background-color: red; 
    border: none;
    color: Black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    grid-area: x
}

.generateCompilationButton {
    height: 5%;
    width: 100%;
    background-color:rgb(30, 146, 30);
    bottom: 0;
    right: 0;
}
